In [1]:
int (a)

NameError: name 'a' is not defined

In [6]:
lst =['a','b','c','d']
try :
    for i in range (5):
        print (lst[i])
except IndexError:
    print(f"Length of list {len(lst)}, index {i+1} not acessible")

a
b
c
d
Length of list 4, index 5 not acessible

In [8]:
class UserNotFoundError(Exception):
    pass

In [9]:
def get_user(user_id):
    try:
        raise UserNotFoundError (f"User not found")
    except UserNotFound as ex:
        print("Not FOund")

In [ ]:
def divide (x,y)
    ''' The script will add 50 to the list and divide the individual value in the list by 3 and display the result 
    '''

In [ ]:
 import pandas

In [ ]:
import pandas as pd

In [ ]:
pd.__version__