In [4]:
import pandas as pd 
tic_df =pd.read_csv("Titanic_data.csv", nrows=100)

In [5]:
tic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  100 non-null    int64
 1   Survived     100 non-null    int64
 2   Pclass       100 non-null    int64
 3   Name         100 non-null    object
 4   Sex          100 non-null    object
 5   Age          78 non-null     float64
 6   SibSp        100 non-null    int64
 7   Parch        100 non-null    int64
 8   Ticket       100 non-null    object
 9   Fare         100 non-null    float64
 10  Cabin        20 non-null     object
 11  Embarked     99 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 9.5+ KB

In [8]:
tic_df.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [13]:
tic_df[['Age','Fare']].describe()

             Age        Fare
count  78.000000  100.000000
mean   27.465769   29.517625
std    15.278878   40.972905
min     0.830000    7.225000
25%    18.250000    8.050000
50%    26.000000   15.675000
75%    34.750000   32.134375
max    71.000000  263.000000

* Average age is 27 , which suggest most of the passengers are young people
* Mean and median are nealry equal , suggetising a symmetirical distribution

In [14]:
tic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,100.000000,100.000000,100.000000,78.000000,100.000000,100.000000,100.000000
mean,50.500000,0.410000,2.400000,27.465769,0.730000,0.440000,29.517625
std,29.011492,0.494311,0.816497,15.278878,1.179411,0.967346,40.972905
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,7.225000
25%,25.750000,0.000000,2.000000,18.250000,0.000000,0.000000,8.050000
50%,50.500000,0.000000,3.000000,26.000000,0.000000,0.000000,15.675000
75%,75.250000,1.000000,3.000000,34.750000,1.000000,0.000000,32.134375
max,100.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

**dataframe.value_count()

In [18]:
tic_df.value_counts("Sex",normalize=True)

Sex
male      0.61
female    0.39
Name: proportion, dtype: float64

In [22]:
tic_df.value_counts('Survived',normalize=True,ascending=True)

Survived
1    0.41
0    0.59
Name: proportion, dtype: float64

In [31]:
tic_df.value_counts(["Sex","Survived"],normalize=True)

Sex     Survived
male    0           0.51
female  1           0.31
male    1           0.10
female  0           0.08
Name: proportion, dtype: float64

dataframe.nunique()
dataframe.unique()

In [33]:
tic_df.Embraked.unique()

AttributeError: 'DataFrame' object has no attribute 'Embraked'